<template>
<transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header">
            <slot name="header">
              <h3 slot="header">Send You Mail <button class="r-float" @click ="$emit('close')">x</button></h3>
              
            </slot>
          </div>

          <p v-if="errors.length">
            <ul class="err-body">
              <li class="err-mgs" v-for="error in errors">{{ error }}</li>
            </ul>
          </p>

          <form class="form-horizontal" method="POST" @submit.prevent="sendEmail()">
          <fieldset>
          <div class="modal-body">
            <slot name="body">
                                          
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" v-model="name" />
                </div>

                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" class="form-control" v-model="email" />
                </div>

                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea class="form-control" v-model="message" rows="5"></textarea>
                </div>

            </slot>
          </div>

          <div class="modal-footer">
            <slot name="footer">
              <button type="submit" class="btn btn-primary">Send message</button>
            </slot>
          </div>
          </fieldset>
          </form>

        </div>
      </div>
    </div>
  </transition>
</template>
<script>
    export default {
        data(){
            return {
                name: '',
                email: '',
                message: '',
                errors: []
            }
        },
        mounted() {
            console.log('send email component.')
        },

        methods : {
            sendEmail: function () {
              if (this.name && this.email && this.message) {
                showingModal: false,
                axios.post('./setting/sendmail_store', {name: this.name, email: this.email, message: this.message}).then(response => {
                    showingModal: false;
                })
                this.$parent.fetchUsersInfo();
              }

              this.errors = [];

              if (!this.name) {
                this.errors.push('Name required.');
              }
              if (!this.email) {
                this.errors.push('Email required.');
              }
              if (!this.message) {
                this.errors.push('Message required.');
              }

              
             
            }
        }
    }
</script>